<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lista książek</title>
</head>
<body>
    <div>
       <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Tytul</th>
      <th >Autor</th>
       <th ></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="book : ${books}">
	 	  <td th:text="${book.id}"/>
	      <td th:text="${book.title}"/>
	      <td th:text="${book.authors}"/>
	      <td>
	        <a href="#"  th:href="@{/books/Confirmation(id=${book.id})}">
	        <button>Usun</button>
	        </a>
	      </td>
    </tr>
  </tbody>
</table>
    </div>
</body>
</html>