<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lista książek</title>
   
    <link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
var prefix = "/workshop";

function RestDelete(id) {

	   $.ajax({
	        type: 'DELETE',
	        url:  prefix + "/book/" + id,
	        async: true,
	        success: function(result) {
	        	$("#page").html(result);    
	        
	        },
	    });
}
</script>
<body>
    <div id="page">
       <table class="booksTable">
  <thead class="booksTableHead">
    <tr>
      <th>ID</th>
      <th>Tytul</th>
      <th >Autor</th>
       <th ></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="book : ${books}">
	 	  <td th:text="${book.id}"/>
	      <td th:text="${book.title}"/>
	      <td th:text="${book.authors}"/>
	      <td>
				<button class="button" th:onclick="'javascript:RestDelete(\'' + ${book.id} + '\');'">
				Usun
				</button>
	<button class="button" >
				Edytuj
				</button>
	      </td>
    </tr>
  </tbody>
</table>
			
	<button class="button">
			Dodaj
				</button>

    </div>
</body>
</html>